@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, main, #app, #map {
  height: 100vh;
  font-family: "Roboto", Helvetica, Arial;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
   url(./fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
